header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.side {
    background-color: #6374D6;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
}

.language {
    margin-left: 1rem;
}

.links {
    margin-top: 10rem;
}

.links li {
    margin-top: 2.5rem;
}

.fundo_1 img{
    position: relative;
    width: 1200px;
    height: 800px;
    left: -10%;
    top: -30px;
}